body
{
    background-color:  #787496;
    align-items: center;
}

.titulo
{
    color: #ededed;
    text-align: center;
    background-color: #394263;
    
    
}

#rp
{
    width: 200px;
}

.cardone
{
    width: 18rem
}